<section [routerLink]="['/contacts', contact._id]" class="contact-preview">
	<!-- <img src="https://robohash.org/{{ contact._id }}?set=set1" alt="contact" /> -->
	<img src="https://xsgames.co/randomusers/assets/avatars/male/{{getRandomNumber()}}.jpg" alt="">
	<section class="info">
		<p>{{ contact.name }}</p>
		
	</section>
	<section (click)="$event.stopPropagation()" class="actions">
		<a [routerLink]="['/contacts/edit', contact._id]">Edit</a>
		<button (click)="onRemove.emit(contact._id)" class="remove-btn">X</button>
	</section>
</section>
